%h1 
  %small
    = link_to "Your Groups", groups_path
    \>
  = @group.title

%ul
  - @group.members.each do |member|
    %li 
      %code
        = member.email

      = link_to "delete", group_member_path(member.group, member), :method => :delete

  %li
    = form_for [@group, @new_member] do |f|
      = f.label :email
      = f.text_field :email

      = f.submit
