%h1 
  %small
    = link_to "Your Groups", groups_path
    \>
  = @group.title

%h2 Sets of coffee dates

%ul
  - @group.grouping_sets.each do |set|
    %li
      = link_to set.displayed_title, group_grouping_set_path(set.group, set)
  - if @group.grouping_sets.empty?
    %li
      %i None so far!

  %li
    = link_to "Create a new set of coffee dates", new_group_grouping_set_path(@group)

%h2 Members

%ul
  - @group.members.each do |member|
    %li 
      %code
        = member.email

      = link_to "delete", group_member_path(member.group, member), :method => :delete
  - if @group.members.empty?
    %li
      %i You should add at least one e-mail address!

  %li
    = form_for [@group, @new_member] do |f|
      = f.label :email
      = f.email_field :email

      = f.submit
